.dineout-img{
    display: flex;
    justify-Content: left;
    margin: 20px;

}
.dineout-title{ 
    border: "1px solid #EFECEC";
    width: 155px;
    height: 60px;
    margin-left: 147px;
    position: relative;
    bottom: 470px;
    text-align: center;
    line-height: 32px;
    font-size: 21px;
    font-weight: 700;
    color: white;
    background: #ffa84f;
}
.dineout-title2{
    color: white;
    text-align: left;
    font-size: 15px;
    position: relative;
    bottom: 497px;
    margin-left: 159px
}
.dineout-title3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b0b0b;
    position: relative;
    bottom: 79px;
    margin-left: 21px;
}
.star-icon{
    text-align: left;
    position: relative;
    bottom: 67px;
    margin-left: 20px;
}
.dineout-title4{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b0b0b;
    position: relative;
    bottom: 89px;
    margin-left: 52px;
}
.dineout-title5{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    position: relative;
    bottom: 79px;
    margin-left: 24px;
}
.dineout-title6{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    position: relative;
    bottom: 73px;
    margin-left: 24px;
}