.guiltfree-card{
    margin: 10px;
    padding: 10px;
    border: "1px solid #EFECEC";
    width: 250px;
    height: 290px;
    background: #FFFFFF;
    border: 1px solid #EFECEC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.guiltfree-icon{
    display: flex;
    justify-Content: center;
    margin-top: 15px;
    border-radius: 50px;

}
.guiltfree-content{
    text-Align: left;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 12px;
    margin-left: 11px;
}
.guiltfree-content2{
    text-Align: left;
    color: #7c5a19;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 18px;
    margin-top: 12px;
    margin-left: 11px;
}
.guiltfree-content3{
    text-Align: left;
    color: #7c5a19;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 6px;
    margin-left: 11px;
}
.guiltfree-content4{
    text-Align: left;
    color: #b5b5b5;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    margin-top: 16px;
    margin-left: 11px;
}
.guiltfree-icon2{
    display: flex;
    justify-Content: center;
    margin-top: -21px;
    margin-right: 74px;
    border-radius: 50px;
}