.guiltfree-brands-image {
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.Star-image1{
    position: absolute;
    top: 257px;
    left: 25px;
}
.heart-image1{
    position: absolute;
    top: 29px;
    left: 150px;
}
.guiltfree-brands-save{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 87px;
    margin-left: 30px;
}
.guiltfree-brands-offers{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 88px;
    margin-left: 30px;
}
.guiltfree-brands-amount{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 88px;
    margin-left: 30px;
}
.guiltfree-brands-title{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b0b0b;
    position: relative;
    bottom: 79px;
    margin-left: 21px;
}
.guiltfree-brands-reviews{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0b0b0b;
    position: relative;
    bottom: 71px;
    margin-left: 57px;

}